@import'../component/_variables.scss';
@import'../component/_global.scss';
@import'../component/_nav.scss';
@import'../component/_contenido.scss';
@import'../component/_mobile.scss';
@import'../component/_tablet.scss';

// * {    padding: 0px;
//     margin: 0;
//     box-sizing: border-box;}

// body{ font-family: 'Poppins', sans-serif;
//     /* background-color: black; */
//     size: 100vh;
//     }


//     .header{display:block;
//         width: 100%;
//         background-color: black;
//     }
//     .encabezado {
//         display: flex;
//         /* position: bottom; */
//         height: 100px;
//         width: 100%;
//         justify-content: space-around;
//         /* position: fixed; */
//     }
//     .encabezado__icono {
//         display: none;
//     }

    
// .menu:hover{ transition: 0.5s;
//     transform: scale(1.2,1.2);
//     color: rgb(255, 255, 255);}

// ul li {list-style: none;
//     display:flex;
//     flex-direction:row;
//     padding: 1rem;
// }


// img.imagenLogo2:hover{transition: 1s;
//     transform: translateX(10%);
//     transition: 1s;}

// // index
// main .contenido {display: flex;
//         text-align:justify;
//         height: 100vh;
//         position: relative;
//         }

    
//     /* titulo */
// .contenido div h1{ font-size: 2.5rem ;
//     // background-color: red; 
// position: absolute;
// top: 10%;
// left: 55%;}

// /* resalta palabra*/
// main .contenido div h1 span{color: rgb(255, 255, 255);
// }
// .imgPrincipal {width: 100%;
//     /* height: 100%;  */
//     object-fit:cover;
//     display: block;
// }

// .contenido__parrafo
// {color: rgb(12, 12, 12);
//     border: 50% aliceblue;
//     border-radius: 15px;
//     stroke: aliceblue;
//     text-align: justify;
//     padding: 15px;
//     position: absolute;
//     width: 500px;
//     height:fit-content;
//     top: 20%;   
//     left: 55%;
//     background: rgba(253, 253, 254, 0.186);
// }
// .contenido__parrafo:hover{transition: all 3s;
//     color: rgb(0, 0, 0);
//     scale: (1.2);
//     background: rgb(2,0,36,0.2);
//     background: linear-gradient(0deg, rgba(2, 0, 36, 0.251) 0%, rgba(255, 255, 255, 0.201) 74%);}

    

//     // bio
//     main .parrafo_bio h3
//     {color: rgb(12, 12, 12);
//         grid-area: ele3;
//         border: 50% aliceblue;
//         border-radius: 12px;
//         stroke: aliceblue;
//         /* margin-top: 50px; */
//         /* text-align: justify; */
//         padding: 15px;
//         /* position: absolute; */
//         height:fit-content;
//         background-color: rgba(255, 255, 255, 0.25)}



//         .botonPromos
//         {background-color: rgba(9, 9, 9, 0.021);
//         color: aliceblue;
//         border: 10px ;
//         border-style:inherit;
//         line-break: normal;
//         position: absolute;
//         top: 70%;   
//         left: 45%;
//         display: flex;
//         align-items: center;
//         font-size: 2rem }
        
//         .botonPromos:hover { transition: TRANSFORM 1s;
//             transform: scale(1.2);
//             color: rgb(0, 0, 0);}
