.contenido {
    display: flex;
    text-align:justify;
    position: relative;

    &__imgPrincipal {
        width: 100%;
        object-fit:cover;
        background-position: center center;
        background-size: cover;
}
/* titulo */
    &__titulo__Principal
    { font-size: 2.5rem ;
    position: absolute;
    top: 10%;
    left: 55%;}

    /* resalta palabra*/
    &__titulo__Principal span
    {color: rgb(255, 255, 255);
    }

    &__Parrafo {
            color: rgb(12, 12, 12);
            border-radius: 15px;
            stroke: aliceblue;
            text-align: justify;
            padding: 15px;
            position: absolute;
            width: 800px;
            // height: 80%;
            top: 100px;
            left: 25%;
            background: rgba(253, 253, 254, 0.186);
        }

    &__Parrafo:hover{transition: all 3s;
    color: rgb(0, 0, 0);
    scale: (1.2);
    background: rgb(2,0,36,0.2);
    background: linear-gradient(0deg, rgba(2, 0, 36, 0.251) 0%, rgba(255, 255, 255, 0.201) 74%);}

&__boton {background-color: rgba(9, 9, 9, 0.021);
color: map-get($coloresEstaticos, bgBotones);
background-color: map-get($coloresEstaticos, bgBotonesTransicion );
border: 10px ;
border-style:inherit;
line-break: normal;
position:relative;
top: 450px;   
left: 600px;
font-size: 2rem }

&__boton:hover { transition: TRANSFORM 1s;
    transform: scale(1.2);
    font-weight: 500;
    color: map-get($coloresEstaticos, bgBotones)}}

.fondo_banner {
        height: 600px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
}
.banner__principal{
    background-image: linear-gradient(to left, rgba(253, 253, 255, 0), rgba(255, 255, 255, 0.43)),url(/img/glacier-g0a6dc3c26_1920.jpg);}
// bio
main .parrafo_bio h3
{color: rgb(12, 12, 12);
    grid-area: ele3;
    border: 50% aliceblue;
    border-radius: 12px;
    stroke: aliceblue;
    margin-top: 20px;
    padding: 15px;
    height:fit-content;
    background-color: rgba(255, 255, 255, 0.25)}

        .botonComprar
        {background-color: map-get( $listacolores, BgTarjeta1);
        color: aliceblue;
        border: 10px ;
        font-weight: 500;
        border-style:inherit;
        line-break: normal;
        position: absolute;
        left: 65%;
        display: flex;
        align-items: center;
        }
        
    .planillaContacto
        {align-self: center ;

        &__formato{
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1 * var(--bs-gutter-y));
        margin-right: calc(-.5 * var(--bs-gutter-x));
        margin-left: calc(-.5 * var(--bs-gutter-x));
    }}

        main .parrafo_paquetes
            {color: rgb(12, 12, 12);
            border-radius: 12px;
            stroke: aliceblue;
            text-align: justify;
            font-size: 1.25rem;
            height:fit-content;
            left: 5%;
            background-color: rgba(255, 255, 255, 0.25);
            }    

        .img__paquetes { object-fit: cover;
        display:contents}
        
        /* pagina experiencias */
        
        section.contenido_exp {display: grid;
                position:static;
                min-height: 500px;
                height:100%;
                width: 100%;
                margin-left: 10%;
                grid-template-columns: 40% 40%;
                grid-template-rows: 20% 50% 30%;
                grid-template-areas: 
                "elem1 elem2" 
                "elem3 elem4"
                "elem5 elem6";
                row-gap: 0.5rem;
                column-gap: 0.5rem;
        }
        
            div.columnas_exp1{
            border-radius: 5%;
            background-color: rgb(242, 242, 242, 0.5);
            box-sizing: border-box;
            border: 3px solid #ccc;
            justify-content: center;
            align-items: center;
            position: Static;
            grid-area: elem1;
            width: 90%;
            height: 700px;
            }   
            main .contenido_exp .tituloExp
            {grid-area:elem1;
            margin-top: 5px;
            position: relative;
            padding: 1%;
            width: 100%;
            align-items: center;
            text-align: center;
            font-size: 18px;}
        
            img.imgPrincipalExperiencias  
            {   grid-area: elem3;
                position: relative;
                margin-left: 105px;
                height: 250px;
                align-items: center;
                padding: 1px;
                object-fit: cover;
                object-position: top center;
            }
        
            main .contenido_exp .parrafoExp1
            {color: rgb(12, 12, 12);
            position: relative;
            font-size: 16px;
            border-radius: 5px;
            text-align: justify;
            padding: 1rem;
            grid-area:elem5;
            align-items: center;}
        
        
            div.columnas_exp2 {
            grid-area: elem2 ;
            position: Static;
            box-sizing: border-box;
            background-color: rgb(242, 242, 242, 0.5);
            border: 3px solid #ccc;
            border-radius: 5%;
            width: 90%;
            height: 700px;
            justify-content: center;
            align-items: center;
            position: relative;
            }   
            
            .tituloExp2
        {    grid-area:elem2;
            /* background-color: blueviolet; */
            position: relative;
            margin-top: 5px;
            padding: 1%;
            width: 100%;
            align-items: center;
            text-align: center;
            font-size: 18px;}
        
        
        main .contenido_exp .parrafoExp2
            {color: rgb(12, 12, 12);
            font-size: 16px;
            border-radius: 5px;
            position: relative;
            text-align: justify;
            padding: 1rem;
            grid-area:elem6;
            align-items: center;}
        
        main .contenido_exp img.imgPrincipalExperiencias2 
        {   grid-area:elem4;
            position: relative;
            margin-left: 55px;
            height: 250px;
            align-items: center;
            padding: 1px;
            object-fit: cover;
            object-position: top center;
        }
            /* termina body */
        
                /* footer*/
        .pie 
            {background-color: black;
            align-items:center; 
            display: flex ;
            justify-content:space-around;
            color: aliceblue;
            font-size: 16px;
            padding: 15px;
            height: 100%;
            max-width: 100%;
        } 

.formato_contacto{display: block;
    position: relative;}

.fondo__animado {
        animation:slide 5s ease-in-out infinite alternate;
        background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
        bottom:0;
        left:-50%;
        opacity:.5;
        position:fixed;
        right:-50%;
        top:0;
        z-index:-1;
      }
      
      .bg2 {
        animation-direction:alternate-reverse;
        animation-duration:4s;
      }
      
      .bg3 {
        animation-duration:5s;
      }
      .contentenido {
        background-color:rgba(255,255,255,.25);
        border-radius:.25em;
        box-shadow:0 0 .25em rgba(0,0,0,.25);
        box-sizing:border-box;
        padding:10vmin;
        position:fixed;
        text-align:center;
        transform:translate(-50%, -50%);
      }

        .pieElementos
        {max-height: 100px;
        max-height: 100px;}
        
        a.abrir {display: none;}