* {   padding: 0px;
    margin: 0;
    box-sizing: border-box;}

    body { min-height: 100vh; 
}

.container {display: grid;
}

// MAPS
$rrss: (
    facebook: #55acee,
    Instagram: #c92d8f,
);

@each $name, $color in $rrss {
    .#{$name} {font-size: 20px;
        background-color: $color;
        margin: 15px 5px;
        padding: 2px;
        color: map-get($coloresEstaticos, bgBotones);
        border-radius: 20px;
    }
}