@media screen and (max-width: 600px){

    /* index */
    .contenido 
{   display: flex;
    width: 100%;

    &__imgPrincipal {width: 100%;
    object-fit:cover;
    background-position: center center;
    background-size: cover;}

    &__titulo__principal {
        font-size: 1rem;
        position: none;
        top: 10%;}

    &__Parrafo
    { width: 400px;
    left: 15%; 
    // height: 80%;
    margin-bottom: 20px;
}}
.contenido__boton {
    top: 550px !important;
    // left: 15%;
    font-size: 1rem;
}

    // .fondo_banner{height: 800px;}

    .contenido__titulo .contenido__titulo__Principal{
        font-size: 1.9rem;
        position: absolute;
        top: 15%;
        left: 5%;
}
.botonComprar
{left:5%;}

    .pie  { flex-direction:column;
        padding-top: 50%;
        align-items: flex-end;
        justify-content: space-between;
        width: 100% ;
        max-height: 100px;}


    /* index */
main  section.contenido_exp 
{display: flex;
position:static;
max-height: 90%;
height:90%;
width: 100%;}
    main .contenido_exp .columnas_exp1
    {max-height: 500px;}
    
    main .contenido_exp .columnas_exp2
    {max-height: 500px;
    padding-top: 0%;}

    main .contenido_exp .tituloExp
    {font-size: 16px;}

    main .contenido_exp .tituloExp2
    {font-size: 16px;}

    main .contenido_exp img.imgPrincipalExperiencias 
    {max-height: 200px;
    margin-left: 50px;
    max-height: fit-content;}

    main .contenido_exp img.imgPrincipalExperiencias2
    {max-height: 150px;
    margin-left: 30px ;}

    main .contenido_exp .parrafoExp2 {font-size: 14px;}
    main .contenido_exp .parrafoExp1{font-size: 14px;}
}


