@media screen and (max-width: 1024px) {
    .encabezado {justify-content:space-around ;}

  
    .contenido {display: flex;
        justify-content:center ;
    width: 100%;

    &__imgPrincipal{height: 100%;
        background-size: cover;
        object-fit:cover;
        background-position: center center;
        background-size: cover;
    }

    &__titulo{ font-size: 2rem ;
        width: 65%;
        position: absolute;
        top: 5%;
        left: 15%;}
    
    &__Parrafo
        {   left: auto;
            display: flex;
            font-size: 10px;
            padding: 15px;
            max-width: max-content;
            align-self: center;

            p {
            
                h4 {font-size: $fontMovil;}}
        }

    &__boton  { font-size: 2rem;
        display: block;
        align-self: center;}

        main .parrafo_bio h3
        {color: rgb(12, 12, 12);
            grid-area: ele3;
            border: 50% aliceblue;
            border-radius: 12px;
            stroke: aliceblue;
            margin-top: 110px;
            padding: 15px;
            height:fit-content;
            background-color: rgba(255, 255, 255, 0.25);
        }}

    .pie  { flex-direction:column;
        align-items: flex-end;
        justify-content: space-between;
        width: 100% ;
        max-height: 100px;}
    
    .nav {justify-self: center;
    margin-top: 15px;} 
    
    section.contenido_exp 
        {position:relative;
        margin-top: 35px;}

        main .contenido_exp .columnas_exp1
        {max-height: 500px;}

        main .contenido_exp .columnas_exp2
        {max-height: 500px;}
        main .contenido_exp .tituloExp
        {font-size: 16px;}

        main .contenido_exp .tituloExp2
        {font-size: 16px;}

        main .contenido_exp img.imgPrincipalExperiencias 
        {max-height: 150px;
        margin-left: 60px;}

        main .contenido_exp img.imgPrincipalExperiencias2
        {max-height: 150px;
        margin-left: 30px ;}

        main .contenido_exp .parrafoExp2 {font-size: 14px;}
        main .contenido_exp .parrafoExp1{font-size: 14px;}
    }

